<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5">
      <div class="card shadow-lg border-0 rounded-4 p-4">
        <h2 class="text-center fw-bold mb-4">Welcome Back 👋</h2>

        <form [formGroup]="loginForm" (ngSubmit)="sendData()">
          <!-- Email -->
          <div class="mb-3">
            <input
              formControlName="email"
              type="email"
              class="form-control form-control-lg"
              placeholder="Enter your email"
            />
            <app-alert
              [formName]="loginForm"
              [controlName]="'email'"
            ></app-alert>
          </div>

          <!-- Password -->
          <div class="mb-3">
            <input
              formControlName="password"
              type="password"
              class="form-control form-control-lg"
              placeholder="Enter your password"
            />
            <app-alert
              [formName]="loginForm"
              [controlName]="'password'"
            ></app-alert>
          </div>

          @if(errorMessage){
          <div class="alert alert-danger py-2">
            {{ errorMessage }}
          </div>
          }

          <button
            [disabled]="loginForm.invalid || isBtnSubmit"
            class="btn bg-main text-white w-100 py-2"
          >
            @if (!isBtnSubmit) {
              Login
            } @else {
              <i class="fa-solid fa-spinner fa-spin"></i>
            }
          </button>

          <div class="text-center mt-3">
            <a routerLink="/forgot" class="text-decoration-none">
              Forgot Password?
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>